@font-face {
  font-family: "font-awesome";
  src: url("../webfonts/fa-brands-400.ttf");
}

@font-face {
  font-family: "font-awesome";
  src: url("../webfonts/fa-brands-400.woff2");
}

@font-face {
  font-family: "font-awesome";
  src: url("../webfonts/fa-regular-400.ttf");
}

@font-face {
  font-family: "font-awesome";
  src: url("../webfonts/fa-regular-400.woff2");
}

@font-face {
  font-family: "font-awesome";
  src: url("../webfonts/fa-solid-900.ttf");
}

@font-face {
  font-family: "font-awesome";
  src: url("../webfonts/fa-solid-900.woff2");
}

@font-face {
  font-family: "metro-bold";
  src: url("../fonts/Metropolis-Bold.otf");
}

@font-face {
  font-family: "metro-light";
  src: url("../fonts/Metropolis-Light.otf");
}

@font-face {
  font-family: "metro-medium";
  src: url("../fonts/Metropolis-Medium.otf");
}

@font-face {
  font-family: "metro-regular";
  src: url("../fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: "metro-thin";
  src: url("../fonts/Metropolis-Thin.otf");
}

/* a{
  font-family: "metro-medium";
} */
h1 {
  font-family: "metro-bold";
}

p {
  font-family: "metro-medium";
}

div.features a::after {
  content: "\f061";
  font-family: "font-awesome";
  font-weight: 100;
  position: relative;
  top: 2px;
  margin-left: 6px;
}

div.features p {
  font-size: 15px;
}

div.prices div.first-list ul li:nth-child(1)::before,
div.prices div.first-list ul li:nth-child(2)::before,
div.prices div.first-list ul li:nth-child(3)::before,
div.prices div.first-list ul li:nth-child(4)::before {
  content: "\f00c";
  font-family: "font-awesome";
  color: #0d6efd;
  font-size: 10px;
  margin-right: 7px;

}

div.prices div.first-list ul li:nth-child(5)::before,
div.prices div.first-list ul li:nth-child(6)::before,
div.prices div.first-list ul li:nth-child(7)::before,
div.prices div.first-list ul li:nth-child(8)::before {
  content: "\f00d";
  font-family: "font-awesome";
  color: #6c757d;
  font-size: 10px;
  margin-right: 7px;
}

div.prices div.second-list ul li:nth-child(1)::before,
div.prices div.second-list ul li:nth-child(2)::before,
div.prices div.second-list ul li:nth-child(3)::before,
div.prices div.second-list ul li:nth-child(4)::before,
div.prices div.second-list ul li:nth-child(5)::before,
div.prices div.second-list ul li:nth-child(6)::before,
div.prices div.second-list ul li:nth-child(7)::before {
  content: "\f00c";
  font-family: "font-awesome";
  color: #0d6efd;
  font-size: 10px;
  margin-right: 7px;

}

div.prices div.second-list ul li:nth-child(8)::before {
  content: "\f00d";
  font-family: "font-awesome";
  color: #6c757d;
  font-size: 10px;
  margin-right: 7px;
}

div.prices div.third-list ul li:nth-child(1)::before,
div.prices div.third-list ul li:nth-child(2)::before,
div.prices div.third-list ul li:nth-child(3)::before,
div.prices div.third-list ul li:nth-child(4)::before,
div.prices div.third-list ul li:nth-child(5)::before,
div.prices div.third-list ul li:nth-child(6)::before,
div.prices div.third-list ul li:nth-child(7)::before,
div.prices div.third-list ul li:nth-child(8)::before {
  content: "\f00c";
  font-family: "font-awesome";
  color: #0d6efd;
  font-size: 10px;
  margin-right: 7px;

}
.star::before {
      content: "\f005";
      font-family: "font-awesome";
      color: rgb(255, 193, 7);
      margin-right: 5px;
}